{ns allergyintolerance-subscription
 import #{aidbox}
 
 allergyintolerance-topic
 {:zen/tags #{fhir.topic-based-subscription/topic-definition}
  :url "http://aidbox.app/SubscriptionTopic/AllergyIntolerance"
  :resourceTrigger [{:resource "AllergyIntolerance"
                     :fhirPathCriteria "clinicalStatus.coding.where(code='active' or code='recurrence' or code='relapse').exists() and verificationStatus.coding.where(code='confirmed').exists()"}]

  :canFilterBy [{:resource        "AllergyIntolerance"
                 :filterParameter "category"
                 :_fhirPath       "%current.category"
                 :modifier        ["eq"]}]}
 
 allergyintolerance-topic-storage
 {:zen/tags #{fhir.topic-based-subscription/topic-storage}
  :storage-type fhir.topic-based-subscription/postgres
  :timeout  1
  :status-interval 10
  :maxCount 100
  :heartbeat-rate 120
  :senders-number 2
  :maxContent "full-resource"
  :table-name "allergyintolerance_topic"}
 
 allergyintolerance-topic-service
 {:zen/tags #{aidbox/service}
  :engine fhir.topic-based-subscription/change-data-capture-service-engine
  :topic-definition allergyintolerance-topic
  :topic-storage allergyintolerance-topic-storage}}