{ns condition-subscription
 import #{aidbox}
 
 condition-topic
 {:zen/tags #{fhir.topic-based-subscription/topic-definition}
  :url "http://aidbox.app/SubscriptionTopic/Condition"
  :resourceTrigger [{:resource "Condition"
                     :fhirPathCriteria "clinicalStatus.coding.where(code='active' or code='recurrence' or code='relapse').exists() and verificationStatus.coding.where(code='confirmed').exists() and verificationStatus.coding.where(code='confirmed').exists() and category.coding.where(code='problem-list-item').exists()"}]}
 
 condition-topic-storage
 {:zen/tags #{fhir.topic-based-subscription/topic-storage}
  :storage-type fhir.topic-based-subscription/postgres
  :timeout  1
  :status-interval 10
  :maxCount 100
  :heartbeat-rate 120
  :senders-number 2
  :maxContent "full-resource"
  :table-name "condition_topic"}
 
 condition-topic-service
 {:zen/tags #{aidbox/service}
  :engine fhir.topic-based-subscription/change-data-capture-service-engine
  :topic-definition condition-topic
  :topic-storage condition-topic-storage}}