{ns d6-allergy-intolerance-topic
 import #{aidbox}

 d6-allergy-intolerance-topic
 {:zen/tags #{fhir.topic-based-subscription/topic-definition}
  :url "http://aidbox.app/SubscriptionTopic/d6-allergy-intolerance"
  :resourceTrigger [{:resource "AllergyIntolerance" }]
  :canFilterBy [{
    :resource "AllergyIntolerance"
    :filterParameter "profile"
    :_fhirPath "meta.profile"
    :modifier ["eq"]
  }]}

 d6-allergy-intolerance-topic-storage
 {:zen/tags #{fhir.topic-based-subscription/topic-storage}
  :storage-type fhir.topic-based-subscription/postgres
  :timeout  1
  :status-interval 10
  :maxCount 100
  :heartbeat-rate 120
  :senders-number 2
  :maxContent "full-resource"
  :table-name "d6_allergy_intolerance_topic"}

 d6-allergy-intolerance-topic-service
 {:zen/tags #{aidbox/service}
  :engine fhir.topic-based-subscription/change-data-capture-service-engine
  :topic-definition d6-allergy-intolerance-topic
  :topic-storage d6-allergy-intolerance-topic-storage}}