{ns d6-condition-topic
 import #{aidbox}

 d6-condition-topic
 {:zen/tags #{fhir.topic-based-subscription/topic-definition}
  :url "http://aidbox.app/SubscriptionTopic/d6-condition"
  :resourceTrigger [{:resource "Condition" }]
  :canFilterBy [{:resource "Condition"
                 :filterParameter "profile"
                 :_fhirPath "meta.profile"
                 :modifier ["eq"]}
                {:resource "Condition"
                 :filterParameter "category"
                 :_fhirPath "category"
                  :modifier ["eq"]}]}

 d6-condition-topic-storage
 {:zen/tags #{fhir.topic-based-subscription/topic-storage}
  :storage-type fhir.topic-based-subscription/postgres
  :timeout  1
  :status-interval 10
  :maxCount 100
  :heartbeat-rate 120
  :senders-number 2
  :maxContent "full-resource"
  :table-name "d6_condition_topic"}

 d6-condition-topic-service
 {:zen/tags #{aidbox/service}
  :engine fhir.topic-based-subscription/change-data-capture-service-engine
  :topic-definition d6-condition-topic
  :topic-storage d6-condition-topic-storage}}