{ns d6-patient-topic
 import #{aidbox}

 d6-patient-topic
 {:zen/tags #{fhir.topic-based-subscription/topic-definition}
  :url "http://aidbox.app/SubscriptionTopic/d6-patient"
  :resourceTrigger [{:resource "Patient" }]
  :canFilterBy [{
    :resource "Patient"
    :filterParameter "profile"
    :_fhirPath "%current.meta.profile[0]"
    :modifier ["eq"]
  }]}

 d6-patient-topic-storage
 {:zen/tags #{fhir.topic-based-subscription/topic-storage}
  :storage-type fhir.topic-based-subscription/postgres
  :timeout  1
  :status-interval 10
  :maxCount 100
  :heartbeat-rate 120
  :senders-number 2
  :maxContent "full-resource"
  :table-name "d6_patient_topic"}

 d6-patient-topic-service
 {:zen/tags #{aidbox/service}
  :engine fhir.topic-based-subscription/change-data-capture-service-engine
  :topic-definition d6-patient-topic
  :topic-storage d6-patient-topic-storage}}