{ns system
 import #{aidbox d6-patient-topic d6-encounter-topic d6-observation-topic d6-document-reference-topic d6-condition-topic d6-medication-request-topic d6-allergy-intolerance-topic}
 
 box
 {:zen/tags #{aidbox/system}
  :services {:patient-subscription d6-patient-topic/d6-patient-topic-service
             :encounter-subscription d6-encounter-topic/d6-encounter-topic-service
             :observation-subscription d6-observation-topic/d6-observation-topic-service
             :document-reference-subscription d6-document-reference-topic/d6-document-reference-topic-service
             :condition-subscription d6-condition-topic/d6-condition-topic-service
             :medication-request-subscription d6-medication-request-topic/d6-medication-request-topic-service
             :allergy-intolerance-subscription d6-allergy-intolerance-topic/d6-allergy-intolerance-topic-service}}}
